{erl_opts, []}.

{erl_opts, [
  {i, "lib/ejabberd/include"},
  {i, "lib/ejabberd/deps/xmpp/include"},
  {i, "lib/ejabberd/deps/fast_xml/include"},

  {parse_transform, lager_transform},
  {parse_transform, ejabberd_sql_pt}
]}.
{ deps, [
  {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.10"}}}
]}.
{shell, [
  { apps, [proxy_checker]}
]}.
